.header {
  background-color: #ff5496;
  margin: 0;
  padding: 1vh 0;
  display: flex;
  justify-content: space-between;
}

.header-icon {
  font-size: 10rem;
  color: #f7f7f8de;
  margin: 0;
}

.header-right {
  display: flex;
  flex-direction: column;
  padding-right: 4vw;
  color: #f7f7f8de;
  padding-top: 5vh;
}

.header-h1,
.header-h4 {
  margin: 0;
}

.home-title {
  background-color: #df4783;
  color: #f7f7f8de;
  margin: 0;
  padding: 1vh 0 1vh 1vw;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inside-flex,
.inside-flex-bolder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-right: 2vw;
  color: #f7f7f8de;
}

.inside-flex {
  background-color: #de4783;
}

.inside-flex-bolder {
  background-color: #d1447a;
}

.nav-icon {
  padding-top: 1vh;
}

.inside-up {
  color: #f7f7f8de;
  font-size: 1.5rem;
}

.inside-down {
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.inside-h3,
.inside-h4 {
  margin: 0;
}

.confirmed {
  display: flex;
  justify-content: flex-end;
}
