* {
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  margin: 0;
}

.navBar {
  background-color: #ec4c8b;
  display: flex;
  color: #fdfafd;
  align-items: baseline;
  padding: 2vh 2vw;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #de4783;
}

.left-nav,
.middle-nav,
.right-nav {
  margin: 0;
}

.left-nav {
  text-decoration: none;
  color: #fdfafd;
}

.right-nav {
  display: flex;
  gap: 4vw;
}

.main-container {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ff5496;
  margin: 0;
  padding: 1vh 4vw 1vh 4vw;
}

.header-icon {
  font-size: 10rem;
  color: #f7f7f8de;
  margin: 0;
}

.header-right {
  display: flex;
  gap: 1vh;
  flex-direction: column;
  color: #f7f7f8de;
  padding-top: 9vh;
}

.header-h1,
.header-h4 {
  margin: 0;
  font-size: 1rem;
}

.home-title {
  background-color: #df4783;
  color: #f7f7f8de;
  margin: 0;
  padding: 2vh 0 2vh 1vw;
  border-bottom: 1px solid #de4783;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f8d6e4;
}

.inside-flex,
.inside-flex-bolder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-right: 2vw;
  color: #f7f7f8de;
}

.inside-flex {
  background-color: #de4783;
}

.inside-flex-bolder {
  background-color: #d1447a;
}

.nav-icon {
  padding-top: 1vh;
}

.inside-up {
  color: #f7f7f8de;
  font-size: 1.5rem;
}

.inside-down {
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.inside-h3 {
  padding-left: 15vw;
}

.inside-h3,
.inside-h4 {
  margin: 0;
}

.confirmed {
  display: flex;
  justify-content: flex-end;
}

.case1 {
  background-color: #ea4a89;
  color: #f7f7f8de;
}

.case2 {
  background-color: #cf4278;
  color: #f7f7f8de;
}

.details-header {
  display: flex;
  justify-content: space-between;
  background-color: #ff5496;
  margin: 0;
  padding: 1vh 4vw 1vh 4vw;
}

.details-header-icon {
  font-size: 10rem;
  color: #f7f7f8de;
  margin: 0;
}

.details-header-right {
  display: flex;
  gap: 1vh;
  flex-direction: column;
  color: #f7f7f8de;
  padding-top: 9vh;
}

.details-header-h1,
.details-header-h4 {
  margin: 0;
  font-size: 1rem;
}

.details-home-title {
  background-color: #df4783;
  color: #f7f7f8de;
  margin: 0;
  padding: 2vh 0 2vh 1vw;
}

.case1,
.case2 {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw;
  font-weight: 600;
  font-size: 1rem;
}

@media screen  and (min-width: 500px) {
  .header {
    justify-content: space-evenly;
    padding: 1vh 0;
  }

  .header-icon {
    font-size: 15rem;
  }

  .header-right {
    padding-top: 10vh;
  }

  .header-h1,
  .header-h4 {
    font-size: 2.5rem;
  }

  .home-title {
    padding: 3vh 0 3vh 4vw;
  }

  .details-header {
    justify-content: space-evenly;
    padding: 1vh 0;
  }

  .details-header-icon {
    font-size: 15rem;
  }

  .details-header-right {
    padding-top: 10vh;
  }

  .details-header-h1,
  .details-header-h4 {
    font-size: 2.5rem;
  }

  .details-home-title {
    padding: 3vh 0 3vh 4vw;
  }

  .case1,
  .case2 {
    padding: 4vh 4vw;
    font-size: 1.2rem;
  }
}
