.navBar {
  background-color: #ec4c8b;
  display: flex;
  color: #fdfafd;
  align-items: baseline;
  padding: 2vh 2vw;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #de4783;
}

.left-nav,
.middle-nav,
.right-nav {
  margin: 0;
}

.left-nav {
  text-decoration: none;
  color: #fdfafd;
}

.right-nav {
  display: flex;
  gap: 4vw;
}
